.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.parent-container {
  display: flex;
  flex-wrap: wrap;
}

.polls {
  height: 100vh;
}

.card-padding {
  padding-left: 3em;
  padding-right: 3em;
}

.poll-body {
  background-color: #e5e5e5 !important;
}

.poll-footer {
  background-color: #14213d;
}

.poll-button {
  background-color: #e5e5e5;
}

.poll-title{
  color: #14213d;
}

.progress-bar {
  width: 63%; 
  display: flex;
}

.flexx {
  display:flex;
}

.childFlex{
  display:inline-block;
}

.card1 {
  background: var(--surface-card);
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.waitingSpinner{
  margin-top: 1rem;
}